#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
#nav ul li{
	display: inline-block;
	height: 100px;	
}
#nav{
	width: 90%;
	display: inline-block;
	text-align: right;
	float: right;
}
.scrollToTop{
	height:50px;
	text-align:center; 
	font-weight: bold;
	position:fixed;
	top:500px;
	right:40px;
	display:none;
	background: url('https://image.flaticon.com/icons/svg/36/36905.svg') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
input[type=text] {
	width: 130px;
	border: 1px solid black;
	border-radius: 25px;
	font-size: 16px;
	float:right;
	background-color: white;
	background: url('https://image.flaticon.com/icons/png/128/149/149852.png');
	background-position: 10px 10px; 
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
	width: 30%;
}
.layout
{
	border-radius: 10%
	height: 150px; 
	width:150px;
	float: left;
    /*margin-left: 30px;
    margin-bottom: 2px;
    margin-right: 5px;*/
}
.footer {
	background: black;
	padding: 5px 10px 10px;
	color: #70726F;
}
.footer a {
	color: #70726F;
	font-size: 20px;
	padding: 10px;
	border-right: 1px solid #70726F;
	transition: all .5s ease;
}
.footer a:first-child {
	border-left: 1px solid #70726F;
}
.footer a:hover {
	color: white;
}
#qwerty{
	float:right;
}
.ex1{
	margin-right: 10px;
}
.ex2{
	margin-left: 0px;
}
#btn{
	padding: 10px;
	margin-left:400px;
	margin-top:-50px;
	position: absolute;
}
/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 375px) and (max-device-width : 1024px) {
}
*/
/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {*/
	/* Styles */
	/*}*/

	/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {
	/* Styles */
	/*}*/

	/* iPads (portrait and landscape) ----------- */
	/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {*/
		/* Styles */
		/*}*/

		/* iPads (landscape) ----------- */
		/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {*/
			/* Styles */
			/*}*/

			/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
	/*}*/
/**********
iPad 3
**********/
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {*/
	/* Styles */
	/*}*/

	/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {*/
		/* Styles */
		/*}*/
		/* Desktops and laptops ----------- */
		/*@media only screen  and (min-width : 1224px) {*/
			/* Styles */
			/*}*/

			/* Large screens ----------- */
			/*@media only screen  and (min-width : 1824px) {*/
				/* Styles */
				/*}*/

				/* iPhone 4 ----------- */
				/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {*/
					/* Styles */
					/*}*/

					/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {*/
						/* Styles */
						/*}*/

						/* iPhone 5 ----------- */
						/*@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){*/
							/* Styles */
							/*}*/

/*@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	/*}*/

	/* iPhone 6 ----------- */
	/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){*/
		/* Styles */
		/*}*/

		/*@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){*/
			/* Styles */
			/*}*/

			/* iPhone 6+ ----------- */
/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	/*}*/

/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	/*}*/

	/* Samsung Galaxy S3 ----------- */
	/*@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){*/
		/* Styles */
		/*}*/

		/*@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){*/
			/* Styles */
			/*}*/

			/* Samsung Galaxy S4 ----------- */
/*@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	/*}*/

	/*@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){*/
		/* Styles */
		/*}*/

		/* Samsung Galaxy S5 ----------- */
/*@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	*//* Styles */
	/*}*/

/*@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	/*}*/


